<style>
    .cookie-consent-banner {
        display: none;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #f8f9fa;
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
        color: black;
        padding: 15px;
        font-size: 14px;
        text-align: center;
        z-index: 1000;
    }
    #btn-customize {
        position: absolute;
        left: -9999px;
    }
    #consent-options {
        display: none;
        margin: 10px 0 0 35px;
    }

    #btn-customize:checked ~ #consent-options {
        display: block;
    }
    .customize-link {
        color: -webkit-link;
        cursor: pointer;
        text-decoration: underline;
    }
</style>
<div id="cookie-consent-banner" class="cookie-consent-banner">
    <h3>Cookie settings</h3>
    <p>
        We use cookies to enhance your experience and improve our website. Some cookies are necessary and cannot be turned off. You can choose to allow or disallow additional cookies for analytics, preferences, and marketing.
        <a href="/privacy.html" class="gdoc-footer__link">Learn more in our privacy policy</a>.
    </p>

    <button id="btn-accept-all">Accept All Cookies</button>

    <input id="btn-customize" name="how" type="checkbox">
    <label for="btn-customize" class="customize-link">Customize</label>

    <div id="consent-options">
        <label><input id="consent-necessary" type="checkbox" value="Necessary" checked disabled>Necessary</label>
        <label><input id="consent-analytics" type="checkbox" value="Analytics" checked>Analytics</label>
        <label><input id="consent-preferences" type="checkbox" value="Preferences" checked>Preferences</label>
        <label><input id="consent-marketing" type="checkbox" value="Marketing">Marketing</label>
        <button id="btn-save-selection">Save Selection</button>
    </div>

</div>

<script>

    function hideBanner() {
        document.getElementById('cookie-consent-banner').style.display = 'none';
    }

    if(localStorage.getItem('consentMode') === null) {

        document.getElementById('btn-accept-all').addEventListener('click', function() {
            setConsent({
                necessary: true,
                analytics: true,
                preferences: true,
                marketing: true
            });
            hideBanner();
        });
        document.getElementById('btn-save-selection').addEventListener('click', function() {
            setConsent({
                necessary: true,
                analytics: document.getElementById('consent-analytics').checked,
                preferences: document.getElementById('consent-preferences').checked,
                marketing: document.getElementById('consent-marketing').checked
            });
            hideBanner();
        });
        document.getElementById('cookie-consent-banner').style.display = 'block';
    }

    function setConsent(consent) {
        const consentMode = {
            'ad_storage': consent.marketing ? 'granted' : 'denied',
            'ad_user_data': consent.marketing ? 'granted' : 'denied',
            'ad_personalization': consent.marketing ? 'granted' : 'denied',
            'analytics_storage': consent.analytics ? 'granted' : 'denied',

            'functionality_storage': consent.necessary ? 'granted' : 'denied',
            'security_storage': consent.necessary ? 'granted' : 'denied',
            'personalization_storage': consent.preferences ? 'granted' : 'denied',
        };
        gtag('consent', 'update', consentMode);
        localStorage.setItem('consentMode', JSON.stringify(consentMode));
    }

</script>
